.idea
.env
docker/syslogi

# rtpengine user config
docker/rtpengine/rtpengine.conf

# kamailio user config
docker/kamailio/kamctlrc
docker/kamailio/kamailio-local.cfg

#deprecated dir /SmartYard-Server
/rbt
/SmartYard-Server

#tests
/tmp
/rbt-asterisk
/rbt-asterisk_

