SIP_DOMAIN=umbrella.lanta.me

DBENGINE=PGSQL
DBHOST=172.28.0.6
DBPORT=5432
DBNAME=kamailio

DBRWUSER="kamailio"
DBRWPW="kamailio"
#DBRWUSER="root"
#DBRWPW="toor"

DBROUSER="kamailioro"
DBROPW="kamailioro"
#DBROUSER="root"
#DBROPW="toor"

DBROOTUSER="root"
DBROOTPW="toor"